/*TODO
1.Adattarlo agli schermi più piccoli
2.Riposizionare i resluts
*/

body {
    margin: 0;
    background-attachment: fixed;   
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(bigchamp.png);
    background-color: #1c1c1c;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    height: 100vh;
    width: 100%;
    animation: changeColor 15s infinite alternate;
}

@keyframes changeColor {
    from {filter: hue-rotate(360deg);}
    to {filter: hue-rotate(0deg);}
}

/*  ChatGpt - Overlay scuro sull'immagine di sfondo (basterebbe cambiare il colore dello sfondo)    */
.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(37, 37, 37, 0.5)); /* Overlay scuro */
}

.preCardText {
    position: fixed;
    color: #ffffffab;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800px;
}

.preCardText-disable .preCardText{
    opacity: 0;
}

.card {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2));

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    border-radius: 10%;
    border: 1px solid rgba(255, 255, 255, 0.202);
    box-shadow: 0px 5px 32px rgba(255, 255, 255, 0.202);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);

    width: 300px;
    height: 400px;
    padding: 5px;
    

    cursor: pointer;
    
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.card-active {
    width: 440px;
    height: 580px;
    
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);

    cursor: auto;
}

.cardSelection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    gap: 10px;
}

.cardButtons {
    position: absolute;
    bottom: 10px;
}

.close-btn {
    position: absolute;
    top: 8px;
    right: 15px;
    font-size: 35px;
    color: #ffffff;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transition: all 0.3 ease;
}

.card-active .close-btn {
    opacity: 1;
    visibility: visible;
}

select, input, button {
    background-color: transparent;
    border: none;
    border-radius: 4px;
    margin: 15px;
    padding: 3px;
    width: 180px;
    text-align: center;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.card-active select,
.card-active input,
.card-active button {
    opacity: 1;
    visibility: visible;
    color: #ffffff;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    pointer-events: all;
}

button {
    margin: 15px;
    padding: 5px;
    font-weight: 700;
    cursor: pointer;
}

.card-active button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 2px 7px 20px rgba(255, 255, 255, 0.4);
}

input::placeholder {
    color: transparent;
    transition: color 0.3s ease;
}

.card-active input::placeholder {
    color: #ffffff;
}

option {
    color: rgba(0, 0, 0, 0.518);
}

.cardTitle {
    position: relative;
    top: 10px;
    
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 800px;
    
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.5s;
}

.card-active .cardTitle {
    opacity: 1;
    visibility: visible;
    color: #ffffff;
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: transparent;
    text-align: center;
    font-family: 'Inter', sans-serif;
    padding: 0px;
    transition: color 0.3s ease;
}

.card-active .results {
    color: #ffffff;
}

.results p {
    font-size: 18px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.card-active .results p {
    opacity: 1;
    visibility: visible;
}
